@charset "utf-8";
a:link, a:visited
#wrapper{
    margin: 0 auto;
    padding: 50px 0;
    width: 600px;
    text-align: justify;
}

.btnArea{
    padding-bottom: 1.5rem;
    text-align: center;
}
p{
    padding-bottom: 2em;
    font-size: 1em;
    line-height: 1.8em;
}

.modalBtn{
    padding: 15px 20px;
    color: #444;
    font-weight: bold;
    text-align: center;
    background: #ececec;
    border: #fff 1px solid;
    display:inline-block;
    overflow: hidden;
    box-shadow: 0 0 3px #666;
    transition: all 0.2s ease-in-out;
}
#mdOverlay{
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 97;
    display: none;
    background: #444;
}
.modalBtn:hover{
    opacity: 0.7;
}

#mdWindow{
    margin-top: -200px;
    margin-left: -250px;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 400px;
    position: fixed;
    z-index: 98;
    background: #fff;
    display: none;
}
#mdWindow>.mdClose{
    top:-15px;
    right: -15px;
    width: 30px;
    height: 30px;
    color: #fff;
    font-size: 1.5em;
    background: #757575;
    position: absolute;
    z-index: 99;
    cursor: pointer;
    box-shadow: 0 0 3px 0 #000;
}


#modalInclude{
    display: none;
}


#contWrap{
    margin:30px auto;
    padding: 0 20px;
    width: 100%;
   height: 340px;
   box-sizing: border-box;
   overflow-y: auto;
}

#contWrap h2{
    margin-bottom:20px;
    padding: 20px 0;
    font-weight: bold;
    text-align: center;
    
}
