.wrap{
    
    width: 80%;
    margin: 0 auto;
}

.row{
    display:flex;
    justify-content: space-around;
}
.col{
    border: 1px solid red;
    border-radius: 10px;
    text-align: center;
    width: 45%;
}
.row2{
    display: flex;
    justify-content: space-around;
}
.card-titlw{
    background-color: aliceblue;
    border-radius: 10px 10px 0 0;
    padding: 5px 0;
    border-bottom:1px solid #ccc;
}